---
# fapolicyd should always be first to ensure the "gate" is open for other services
- name: update fapolicyd database
  ansible.builtin.command: fapolicyd-cli --update
  listen: restart fapolicyd # This allows one notify to trigger both update and restart

- name: restart fapolicyd
  ansible.builtin.service:
    name: fapolicyd
    state: restarted

# Wazuh services
- name: restart wazuh-indexer
  ansible.builtin.service:
    name: wazuh-indexer
    state: restarted

- name: restart wazuh-manager
  ansible.builtin.service:
    name: wazuh-manager
    state: restarted

- name: restart filebeat
  ansible.builtin.service:
    name: filebeat
    state: restarted

- name: restart wazuh-dashboard
  ansible.builtin.service:
    name: wazuh-dashboard
    state: restarted