---
- name: Enable Katello and Foreman Repositories
  dnf:
    name:
      - https://yum.theforeman.org/releases/3.9/el9/x86_64/foreman-release.rpm
      - https://yum.theforeman.org/katello/4.11/katello/el9/x86_64/katello-release.rpm
    state: present
    disable_gpg_check: no

- name: Install Foreman/Katello packages
  dnf:
    name:
      - foreman-installer
      - katello
    state: present

- name: Ensure installer configuration directory exists
  file:
    path: /etc/foreman-installer/scenarios.d
    state: directory
    mode: '0750'

- name: Deploy Katello answers file from template
  template:
    src: katello-answers.j2
    dest: /etc/foreman-installer/scenarios.d/katello-answers.yaml
    mode: '0640'

- name: Run Foreman-Katello Installer
  command: >
    foreman-installer --scenario katello
    --answers-file /etc/foreman-installer/scenarios.d/katello-answers.yaml
  args:
    # We check for the foreman settings file to determine if the app is already configured
    creates: /etc/foreman/settings.yaml
  register: installer_output
  failed_when: "'Main Step: Success' not in installer_output.stdout"