# templates/katello-answers.j2
---
# Identity & Security
foreman::initial_admin_password: "{{ foreman_admin_password }}"
foreman::initial_organization: "Default_Organization"
foreman::initial_location: "Default_Location"

# Provisioning Logic (Replaces your CLI flags)
foreman_proxy::dns: false
foreman_proxy::dhcp: false
foreman::compute_libvirt: true

# Hardening & FIPS
# The installer automatically picks up FIPS, but we force Puppet CA reset for the new key-only foundation
puppet::server_ca_core_reset: true

# Storage Logic
katello::pulp_storage_path: "{{ foreman_pulp_mount }}"